<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="./css/stylesheet.css">
        <script src="./js/index.js" defer></script>
    </head>

    <body class="container">

    <header>
        <h1>Visualization Tool</h1>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/body'); %>
        <form method="POST" action="/execute">
            <fieldset style="margin: 0 0 3vh;">
                <h4>Step1: 可視化モードを選択する</h4>
                <div style="display: flex;padding-left: 40px;">
                    <div class="visualizeModeBox"><input type="radio" style="margin-right: 5px;" class="visualizeMode" name="visualizeMode" value="mode1" id="mode1" onclick="formSwitch()" ><label for="mode1">加工誤差可視化モード</label></div>
                    <div class="visualizeModeBox"><input type="radio" style="margin-right: 5px;" class="visualizeMode" name="visualizeMode" value="mode2" id="mode2" onclick="formSwitch()" ><label for="mode2">パラメータ可視化モード</label></div>
                </div>
            </fieldset>
            <fieldset style="margin: 0 0 3vh;">
                <h4>Step2: 入力データを選択する</h4>
                <div style="padding: 10px 40px;" id="input1">
                    <label for="logFile" style="width: 120px;">入力ファイル1</label>
                    <label class="selectbox">
                        <select style="width: 150px;" name="logFile" id="logFile" onchange="selectInput()">
                            <option selected>選択してください</option>
                            <% logList.forEach(function (logName, key){%>
                                <option value=<%=logName%>><%=logName%></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <div style="padding: 10px 40px;" id="input2">
                    <label for="modelFile" style="width: 120px;">入力ファイル2</label>
                    <label class="selectbox">
                        <select style="width: 150px;" name="modelFile" id="modelFile">
                            <option selected>選択してください</option>
                            <% modelList.forEach(function (modelList, key){%>
                                <option value=<%=modelList%>><%=modelList%></option>
                                <% }) %>
                        </select>
                    </label>
                </div>
                <div id="inputItem">
                    <div style="padding: 5px 40px;">
                        <label for="param" style="width: 120px;">動作パラメータ</label>
                        <label class="selectbox">
                            <select style="width: 150px;" name="param" id="param" onchange="selectParam()">
                                <option selected>選択してください</option>
                                <option value="速度">速度</option>
                                <option value="加速度">加速度</option>
                                <option value="モータ電流">モータ電流</option>
                                <option value="軸反転位置">軸反転位置</option>
                            </select>
                        </label>
                    </div>
                    <div style="padding: 5px 40px;">        
                        <label for="axis" style="width: 120px; text-align:center;">軸</label>
                        <label class="selectbox">
                            <select style="width: 150px;" name="axis" id="axis">
                                <option selected>選択してください</option>
                                <option value="X">X軸</option>
                                <option value="Y">Y軸</option>
                                <option value="Z">Z軸</option>
                                <option value="C">C軸</option>
                            </select>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset style="margin: 0 0 3vh;">
                <h4>Step3: カラーレンジを選択する</h4>
                <div style="display: flex; padding-left: 40px;">
                    <div class="colorRangeBox"><input type="radio" style="margin-right: 5px;" name="colorRange" value="small" id="small" ><label for="small">小</label></div>
                    <div class="colorRangeBox"><input type="radio" style="margin-right: 5px;" name="colorRange" value="medium" id="medium" ><label for="medium">中</label></div>
                    <div class="colorRangeBox"><input type="radio" style="margin-right: 5px;" name="colorRange" value="large" id="large" ><label for="large">大</label></div>
                </div>
            </fieldset>
            <div>
                <input class="btn btn-secondary" type="submit" value="実行">
            </div>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>
    <script type="text/javascript">

    </script>

</html>