<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        
    </head>

    <body class="container">

    <header>
        <h1>Visualization Tool</h1>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/body'); %>
        <h4><%= data.visualizeMode === "mode1" ? "加工誤差" : "パラメータ" %>の可視化カラーマップ</h4>
        <ul style="list-style-type: none;">
            <li>入力ファイル1：<%= data.logFile %></li>
            <% if(data.visualizeMode === "mode1"){%><li>入力ファイル2：<%= data.modelFile %></li><% } %>
            <% if(data.visualizeMode === "mode2"){%><li>パラメータ：<%= data.param %></li><% } %>
            <% if(data.visualizeMode === "mode2"){%><li>軸：<%= data.axis %></li><% } %>
            %><li>カラーレンジ：<%= data.colorRange %></li>
        </ul>
        <img style="max-width: 45vw"src=<%= result.output %> alt=<%= result.output %>>
        <div style="margin: 20px 0;"class="btn btn-secondary" >
          <a style="color: white; text-decoration:none;" href="/">戻る</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>
    <script type="text/javascript">

    </script>

</html>