<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        
    </head>

    <body class="container">

    <header>
        <h1>Visualization Tool</h1>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/body'); %>
        <img src=<%= result.output %> alt=<%= result.output %>>
        <div class="btn btn-secondary" >
          <a style="color: white; text-decoration:none;" href="/">戻る</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>
    <script type="text/javascript">

    </script>

</html>